@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body,html{
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: Handlee;
    font-weight: 900;
    background-image: url('./img/back.jpg');
}
.card{
    transition-duration: 200ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mod{
    width: 90%;
    height: 200px;
    margin-bottom: 2%;
    font-size: xx-large;
    color: white;
    background-repeat: no-repeat;
    background-size:auto 110%;
    background-position: right;
}
#heading{
    text-align: center;
    font-size: 5rem;
    color: #30bced;
    margin-bottom: 1%;
    margin-top: 2%;
}
.card:hover{
    background-color: lightseagreen;
    cursor: pointer;
    box-shadow: 0 0 0 0 ;
}
.mod:nth-of-type(even){
    color: white;
}.mod:nth-of-type(odd){
    color: black;
}
.flex-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
    padding-top: 0%;
}

#vol{
    background-color: lightskyblue;
    background-image: url('/img/vol.png');
}
#len{
    background-color: gold;
    background-image: url('/img/scale.png');
}
#wei{
    background-color: red;
    background-image: url("./img/weigh.png");  
}
#temp{
    background-color: blueviolet;
    background-image: url("./img/temp.png");  
}
#ene{
    background-color: orange;
    background-image: url("./img/energy.png");  
}
#area{
    background-color: lightgreen;
    background-image: url("./img/area.png");  
}
#speed{
    background-color: rebeccapurple;
    background-image: url("./img/speed.png");  
}
#time{
    background-color: white;
    background-image: url("./img/time.png");  
}
#pw{
    background-color: darkorange;
    background-image: url("./img/power.png");  
}
#data{
    background-color: lightgray;
    background-image: url("./img/data.png");  
}
#pres{
    background-color: darkblue;
    background-image: url("./img/pressure.png");  
}
#ang{
    background-color: darkred;
    background-image: url("./img/angle.png");  
}
::-webkit-scrollbar{
    width: 2px;
    background-color: black;
}
.sidebar{
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    background-color: rgba(0, 66, 136, 0.851);
    display: block;
    padding: 0%;
    color: whitesmoke;
    /* width: 18%; */
    position: absolute;
    z-index: 99;
    font-size: larger;
    text-align: center;
    margin-top: -200vh;
    width: 100%;
}
.item{
    transition-duration: 150ms;
    display: block;
    margin: 18px;
}
.item:hover{
    cursor: pointer;
    color: greenyellow;
}
i{
    margin-right: 5px;
}



.ioparts{
    padding: 2%;
}
#header{
    display: flex;
}
#ham{
    background-color: transparent;
    position: absolute;
    left: 3%;
    top:15px;
    font-size: x-large;
    border: none;
}
#ham:hover{
    cursor: pointer;
}
#h{
    color:#30bced;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.form{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 60px;
    text-align: center;
    font-family: Handlee;
    font-size: 1.5rem;
    font-weight: 900;
    border: 2px black solid;
}
.small{
    width: 90%;
    background-color: white;
    height: 70px;
    margin: 15px;
}


@media only screen and (min-width: 600px) {
    .mod{
        width: 45%;
    }
    .form{
        width: 60%;
    }
    .flex{
        flex-direction: row;
    }
    .small{
        flex: 40%;
    }
    #unit1{
        width: 25%;
    }
    
@media only screen and (min-width: 992px) {
    .mod{
        width: 30%;
    }
    .small{
        flex: 30%;
    }
}
@media only screen and (min-width: 1200px) {
    .mod{
        width: 22%;
    }
    .small{
        flex: 22%;
    }
}
}

#flash{
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 10%;
    position: absolute;
    background-color: white;
    z-index: 100;
    margin-top: 8px;
    display: none;
}
#flash:hover{
    background-color: white;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}